@model SinhVien
@{
	ViewData["Title"] = "Chỉnh sửa thông tin sinh viên";
}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0"><i class="bi bi-clipboard-data"></i> Thông tin sinh viên</h5>
            </div>
            <div class="card-body p-4">
                <form asp-action="Edit" id="createClassForm">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                    <div class="row g-3">
                        <div class="col-md-12">
                            <label asp-for="HoVaTen" class="form-label fw-bold">
                                <i class="bi bi-building text-primary"></i> @Html.DisplayNameFor(model => model.HoVaTen)
                                <span class="text-danger">*</span>
                            </label>
                            <input asp-for="HoVaTen" class="form-control" placeholder="Nhập tên sinh viên" required />
                            <span asp-validation-for="HoVaTen" class="text-danger small"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="MaSinhVien" class="form-label fw-bold">
                                <i class="bi bi-building text-primary"></i> @Html.DisplayNameFor(model => model.MaSinhVien)
                                <span class="text-danger">*</span>
                            </label>
                            <input asp-for="MaSinhVien" class="form-control" placeholder="Nhập mã sinh viên" required />
                            <span asp-validation-for="MaSinhVien" class="text-danger small"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="HoVaTen" class="form-label fw-bold">
                                <i class="bi bi-building text-primary"></i> @Html.DisplayNameFor(model => model.HoVaTen)
                                <span class="text-danger">*</span>
                            </label>
                            <input asp-for="HoVaTen" class="form-control" placeholder="Nhập tên sinh viên" required />
                            <span asp-validation-for="HoVaTen" class="text-danger small"></span>
                        </div>

                        <div class="col-md-12">
                            <label asp-for="Email" class="form-label fw-bold">
                                <i class="bi bi-card-text text-primary"></i> @Html.DisplayNameFor(model => model.Email)
                            </label>
                            <input type="email" asp-for="Email" class="form-control" rows="4" placeholder="Nhập email sinh viên (không bắt buộc)" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>

                        <div class="col-md-12">
                            <label asp-for="SoDienThoai" class="form-label fw-bold">
                                <i class="bi bi-card-text text-primary"></i> @Html.DisplayNameFor(model => model.SoDienThoai)
                            </label>
                            <input type="tel" asp-for="SoDienThoai" class="form-control" rows="4" placeholder="Nhập số điện thoại sinh viên (không bắt buộc)" />
                            <span asp-validation-for="SoDienThoai" class="text-danger small"></span>
                        </div>

                        <div class="col-md-12">
                            <label asp-for="NgaySinh" class="form-label fw-bold">
                                <i class="bi bi-card-text text-primary"></i> @Html.DisplayNameFor(model => model.NgaySinh)
                                <span class="text-danger">*</span>
                            </label>
                            <input type="date" asp-for="NgaySinh" class="form-control" rows="4" placeholder="Chọn ngày sinh" required />
                            <span asp-validation-for="NgaySinh" class="text-danger small"></span>
                        </div>
                    
                    </div>

                    <hr class="my-4">

                    <div class="d-flex gap-2 justify-content-between flex-wrap">
                        <a asp-action="Index" class="btn btn-outline-secondary btn-md px-4">
                            <i class="bi bi-arrow-left"></i> Quay lại
                        </a>
                        <button type="submit" class="btn btn-primary btn-md px-4">
                            <i class="bi bi-save"></i> Lưu sinh viên
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>